html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', serif;
  font-size:14pt;
  margin-bottom: 60px;
  background-image: url("/images/rockywall.png");
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  width:100%;
  height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.page-header-wrapper {
    background: rgba(200,200,200,0.2);
    padding:1em;:
}

hr {
    border-top-color: #DEDEDE;
}

.page-header {
    border-bottom: none;
}

.calendar-text{ margin-top: 0.3em; }
