<div class="row ">

  <div class="col-lg-6">
    <h2><i class="fa fa-bullhorn fa-fw"></i> Announce</h2>  Want to
    announce a meetup, hackthon, conference etc. Write up a news item
    and send us a pull request.
  </div>


  <div class="col-lg-6">

    <h2><i class="fa fa-code fa-fw"></i> Contribute</h2>

    Want to improve this site.  We are
    on <a href="https://github.com/indian-curry"> github</a> and are
    happy to receive your contributions.

    <p class="text-right">
      <a href="https://github.com/indian-curry/indian-curry.github.io"
	 class="btn btn-info text-right" role="button">
	<i class="fa fa-code-fork fa-lg fa-fw"></i> Fork me
      </a>
    </p>

  </div>


</div>
<br/>
<div class="row ">

  <div class="col-lg-6">
    <h2><i class="fa fa-comments-o fa-fw"> </i> On IRC</h2>
    We hang out at the channel <code>##indian-curry</code> on
    <a href="http://webchat.freenode.net/"><code>freenode</code>.</a>
  </div>

  <div class="col-lg-6">

    <h2><i class="fa fa-envelope fa-fw"></i> Discuss</h2>

    We run the mailing list <code>indiancurry</code>
    at <code>googlegroups.com</code>.

    <p class="text-right">
      <a href="http://groups.google.com/forum/#!forum/indiancurry"
	 class="btn btn-info" role="button">
	<i class="fa fa-sign-in fa-fw"></i> Join Us
      </a>
    </p>

  </div>

</div>
