<div class="row ">
  <div class="col-lg-6">
    <h2><i class="fa fa-envelope fa-fw"></i> Discuss.</h2>

    We run the mailing
    list <a href="http://groups.google.com/forum/#!forum/indiancurry">
    indiancurry at googlegroups.com</a> You are welcome to join us.
  </div>
  <div class="col-lg-6">
    <h2><i class="fa fa-comments-o fa-fw"> </i> Chat.</h2>
    We hang out at the channel <strong>##indian-curry</strong> on
    <a href="http://webchat.freenode.net/">freenode.</a>
  </div>
</div>
<br/>
<div class="row ">

  <div class="col-lg-6">
    <h2><i class="fa fa-bullhorn fa-fw"></i> Announce.</h2>  Want to
    announce a meetup, hackthon, conference etc. Write up a news item
    and send us a pull request.
  </div>

  <div class="col-lg-6">
    <h2><i class="fa fa-code fa-fw"></i> Contribute.</h2>

    Want to improve this site.  We are on <a href="https://github.com/indian-curry"> github</a> and are happy to receive
    your contributions. Fork and send us pull requests.

  </div>
</div>
