<div class="row">
  <div class="col-sm-2">
    <i class="fa fa-envelope fa-2x"></i>
  </div>
  <div class="col-sm-10">
    We run the mailing
    list <a href="https://groups.google.com/forum/#!forum/indiancurry">
    indiancurry@googlegroups.com</a> You are welcome to join us.
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-2">
    <i class="fa fa-comments-o fa-3x"></i>
  </div>
  <div class="col-sm-10">
    We hang out at the channel
    <a href="https://webchat.freenode.net/?channels=##indian-curry">
	##indian-curry on freenode.
    </a>
  </div>
</div>
